:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blue-1: #FBFDFE;
  --red-1: rgb(230, 57, 70);
  --red-1-soft: rgba(230, 57, 70, 0.1);
  --green: rgb(0, 109, 119);
  --green-soft: rgba(0, 109, 119, 0.1);
  --yellow: rgb(255, 183, 3);
  --yellow-soft: rgb(255, 183, 3, 0.1);
  --orange: rgb(251, 133, 0);
  --orange-soft: rgba(251, 133, 0, 0.1);
  --white: #FFFFFF;
  --black-1: #000000;
  --black-2: #292D30;
  --gray-1: #F9FAFB;
}

#app {
  background-color: var(--blue-1);
}

.navbar {
  height: 4rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-1);
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.01);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--blue-1);
  }
}
