:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--blue-10);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* ----- GLOBAL VARIABLES ----- */
  /* COLORS */
  --white: rgb(255, 255, 255);
  --black-200: rgb(41, 45, 48);
  --black-500: rgb(3, 25, 38);
  --black-900: rgb(0, 0, 0);
  --black-900-shadow-1: rgba(0, 0, 0, 0.01);
  --black-900-shadow-2: rgba(0, 0, 0, 0.02);
  --black-900-shadow-3: rgba(0, 0, 0, 0.05);
  --blue-10: #fbfdfe;
  --blue-50: rgb(245, 250, 255);
  --blue-100: rgb(216, 238, 253);
  --blue-200: rgb(196, 229, 253);
  --blue-300: rgb(142, 205, 250);
  --blue-400: rgb(84, 179, 248);
  --blue-500: rgb(5, 145, 245);
  --blue-500-shadow: rgba(5, 145, 245, 0.1);
  --blue-600: rgb(9, 129, 215);
  --blue-700: rgb(7, 106, 176);
  --blue-800: rgb(6, 82, 137);
  --blue-900: rgb(4, 59, 98);
  --green-50: rgb(237, 253, 248);
  --green-100: rgb(215, 250, 240);
  --green-200: rgb(149, 238, 214);
  --green-300: rgb(58, 228, 183);
  --green-400: rgb(24, 220, 168);
  --green-500: rgb(20, 184, 140);
  --green-600: rgb(17, 151, 116);
  --green-700: rgb(14, 129, 98);
  --green-800: rgb(11, 106, 80);
  --green-900: rgb(9, 83, 63);
  --yellow-50: rgb(255, 250, 240);
  --yellow-100: rgb(254, , 205);
  --yellow-200: rgb(249, 229, 184);
  --yellow-300: rgb(245, 211, 137);
  --yellow-400: rgb(242, 194, 90);
  --yellow-500: rgb(253, 195, 68);
  --yellow-600: rgb(223, 156, 12);
  --yellow-700: rgb(189, 134, 15);
  --yellow-800: rgb(189, 134, 15);
  --yellow-900: rgb(94, 67, 8);
  --red-50: rgb(254, 241, 242);
  --red-100: rgb(248, 211, 213);
  --red-200: rgb(242, 166, 171);
  --red-300: rgb(235, 112, 120);
  --red-400: rgb(227, 59, 70);
  --red-500: rgb(205, 29, 41);
  --red-500-shadow: rgba(227, 59, 70, 0.1);
  --red-600: rgb(170, 24, 34);
  --red-700: rgb(138, 20, 28);
  --red-800: rgb(112, 16, 22);
  --red-900: rgb(89, 13, 18);
  --neutral-title: rgb(39, 59, 73);
  --neutral-text: rgb(99, 117, 131);
  --neutral-text-light: rgb(125, 143, 155);
  --neutral-text-lighter: rgb(151, 165, 175);
  --neutral-border: rgb(227, 233, 237);
  --neutral-border-medium: rgb(213, 220, 226);
  --neutral-border-strong: rgb(195, 205, 213);

  /* SIZES */
  --border-radius-xxs: 4px;
  --border-radius-xs: 9px;
  --border-radius-sm: 15px;
  --border-radius-md: 20px;
  --border-radius-lg: 25px;
  --border-radius-xl: 35px;
  --border-radius-xxl: 60px;
  --padding-button-1: 0.6rem;
  --padding-button-2: 0.7rem;
  --padding-button-3: 0.75rem 1.5rem;
  --shadow-xs: 0 4px 12px;
  --shadow-sm: 0 10px 25px;
  --shadow-md: 0 20px 60px;
  --shadow-lg: 0 16px 78px;
  --shadow-xl: 0 34px 54px;

  /* TRANSITIONS */
  --easing-natural: cubic-bezier(0.5, 0, 0.5, 1);
  --easing-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --easing-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --easing-out: cubic-bezier(0.165, 0.84, 0.44, 1);
  --easing-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --transition-long: 0.5s var(--easing-natural);
  --transition-short: 0.25s var(--easing-natural);
  --transition-long-bounce: 0.5s var(--easing-bounce);
  --transition-short-bounce: 0.25s var(--easing-bounce);
}

#app {
  background-color: var(--blue-10);
}

.navbar {
  height: 4rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--neutral-border);
  box-shadow: var(--shadow-sm) var(--black-900-shadow-1);
}

 